.Earth {
  width: 80px;
  height: 80px;
  padding: 10px;
  background: #00DDFF;
}

.human {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 40px;
  background: url(../public/human.png) center center no-repeat;
  background-size: 80px 80px;
}

.Mars {
  background: none;
}

.Mars-sky {
  width: 80px;
  height: 80px;
  padding: 10px;
  background: #FF4F54;
}

.alien {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 40px;
  background: url(../public/alien.png) center center no-repeat;
  background-size: 80px 80px;
}

.Pluto {
  background: none;
}

.Pluto-ground {
  width: 80px;
  height: 80px;
  padding: 10px;
  background: #C3A2F3
}

.huo-huo {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 40px;
  background: url(../public/huo-ren-or-dog.png) center center no-repeat;
  background-size: 80px 80px;
}

